
<title>tinyAPP</title>

<% if (!user_id) { %>
  <form method="GET" action="/urls/login">
    <input type="submit" value="Login">
  </form>
  <form method="GET" action="/urls/register">
    <input type="submit" value="Register">
  </form>
<% } else { %>
  <form action="/urls/logout" method="POST" style="margin:20px;">
    <label for="user"> <%= user_id['email'] %> </label>
    <input type="submit" value="Logout">
  </form>
<% } %>
